<section class="header">
    <div class="container header-container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="http://theschoolreviewer.com/img/logo.png">
            </div>
            <div class="col-md-6 col-sm-12">
            </div>
        </div>
    </div>
    <div class="container-fluid bgcolor top10">
        <div class="row">
            <div class="container">
                <div class="row">
                    <button class="btn btn-sign-in pull-right"> Sign In </button>
                    <button class="btn  btn-sign-up  pull-right"> Sign Up </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="body">
    <router-outlet></router-outlet>
</section>
<section class="footer">
    <div class="container-fluid footer-container">
        <div class="container">
            <div class="row">
                <p>
                    <b> <u>Note :</u></b> Dear Parents, Reviewers and Contributors; we at TheSchoolReviewer.com try with utmost sincerity to provide correct data to you. In case, you find something is not working here or something is wrong; please help
                    us by e-mailing what's wrong and what could be done about. Help us to help other people who visit our site seeking information.
                </p>
                <ul class="quick-links">
                    <li>
                        <b>Quick Links : </b>
                    </li>
                    <li>
                        <a> &nbsp; About Us</a>
                    </li>
                    <li>
                        <a>Contact Us</a>
                    </li>
                    <li>
                        <a>Privacy Policy</a>
                    </li>
                    <li>
                        <a>Disclaimer</a>
                    </li>
                    <li>
                        <a>Terms and conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <p>The School Reviewer © 2015. All Rights Reserved.</p>
    </div>
</section>