.home-section {
    background: url('http://theschoolreviewer.com/img/trans_bg.png');
    min-height: 490px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ededed;
}